{
  "project_info": {
    "project_number": "000000000000",
    "project_id": "vodog-example",
    "storage_bucket": "vodog-example.invalid"
  },
  "client": [{
    "client_info": {
      "mobilesdk_app_id": "1:000000000000:android:0000000000000000000000",
      "android_client_info": {"package_name": "org.vodog"}
    },
    "api_key": [{"current_key": "REPLACE_WITH_YOUR_FIREBASE_PROJECT_CONFIGURATION"}]
  }],
  "configuration_version": "1"
}
